.getting-started {
  padding-top: 30px;
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
}

.getting-started .step {
  margin: 20px 0;
}

.getting-started .complete {
  text-decoration: line-through;
}

.getting-started .grant-button {
  font-family: inherit;
  font-size: 16px;
  margin-left: 15px;
  border: 2px solid #461f00;
  color: #461f00;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 100ms linear;
}

.getting-started .grant-button:focus {
  outline: none;
}

.getting-started .grant-button:hover {
  background-color: #461f00;
  color: #fdf6e3;
  transition: background-color 100ms linear;
}

.getting-started .snippets {
  font-size: 14px;
}

.getting-started .snippets .snippet {
  font-size: 14px;
  margin: 15px 0;
}
