.title-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  padding: 30px;
  box-sizing: border-box;
  background-color: #461f00;
  color: #fdf6e3;
}

.title-desc .title {
  border: 4px solid #fdf6e3;
  padding: 0 25px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
